<connectionStrings>
  <add name="MiniAmazon" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Gifter;Integrated Security=true"/>
  <!--<add name="MiniAmazon" connectionString="Server=4da5b8f2-c12c-4a83-b413-a155012100c3.sqlserver.sequelizer.com;Database=db4da5b8f2c12c4a83b413a155012100c3;User ID=tosfidsnnuuedfny;Password=qsAEt6N4vGhRrtUUKdxtUdq6QuXeWwo7MzaBsjZY4XXU88nmcdGeWkmnbDX7gHf8;"/>-->
</connectionStrings>