@model MiniAmazon.Web.Models.AccountSignInModel

@{
    ViewBag.Title = "Sign In";
    Layout = "~/Views/shared/_BootstrapLayout.empty.cshtml";
}


@using(Html.BeginForm("SignIn","Account",FormMethod.Post,new {@class = "form-signin"})){

    <h2 class="form-signin-heading">Please sign in</h2>

    @Html.TextBoxFor(x=>x.Email, new {@class="input-block-level",@placeholder="Email address"})
    @Html.PasswordFor(x=>x.Password, new {@class="input-block-level",@placeholder="Password"})
        
        <label class="checkbox">
          @Html.CheckBoxFor(x=>x.RememberMe) Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
}

       
      
